<!-- No CSS Applied Yet! -->
<div class="container-fluid">
    <div class="container">
        <form class="form-inline">
            <h2 class="">Profile</h2>
            <hr />
            <ul class="list-group"> 
                <li class="list-group-item">
                    <i class=""></i>
                    <div class="edit-profile input">
                        <label class"edit-profile label">First Name: </label>
                        <div ng-show="!beingEdited"  ng-model="user.name.first">{{ user.name.first }}</div>
                        <input type="text" ng-hide="!beingEdited" ng-model="user.name.first" />
                    </div>
                </li>
                <li class="list-group-item">
                    <i class=""></i>
                    <div class="edit-profile input">
                        <label class"edit-profile label">Last Name: </label>
                        <div ng-show="!beingEdited" ng-model="user.name.last">{{ user.name.last }}</div>
                        <input type="text" ng-hide="!beingEdited" ng-model="user.name.last" />
                    </div>
                </li>
                <li class="list-group-item">
                    <i class=""></i>
                    <div class="edit-profile input">
                        <label class"edit-profile label">Email: </label>
                        <div ng-show="!beingEdited" ng-model="user.email">{{ user.email }}</div>
                        <input type="text" ng-hide="!beingEdited" ng-model="user.email" />
                    </div>
                </li>
                <li class="list-group-item">
                    <i class=""></i>
                    <div class="edit-profile input">
                        <label class"edit-profile label">Phone Number: </label>
                        <div ng-show="!beingEdited" ng-model="user.phoneNumber">{{ user.phoneNumber }}</div>
                        <input type="number" ng-hide="!beingEdited" ng-model="user.phoneNumber" />
                    </div>
                </li>

            </ul>
        </form>
        <div class=''>
            <button class="btn btn-default" ng-click="beingEdited = true" ng-show="!beingEdited">Edit Info</button>
            <button class="btn btn-default" ng-click="beingEdited = false" ng-hide="!beingEdited">Done Editing</button>
            <button class="btn btn-primary" ng-click="saveInfo()">Save</button>
            <button class="btn btn-danger" ng-click="resetInfo()">Cancel</button>
        </div>
        
        
    </div>
    <!-- edit option for profile !-->   
</div>