<div class="container-fluid">
    <div class="jumbotron profileView">
        <div class='row'>

            <div class="text-center">
                <i class="fa fa-user fa-2x profileicon"></i>
                <span class='profileheader'>{{PR.data[0].businessName}}'s Profile</span>
            </div>
            <hr />
            <div class='col-xs-1 col-md-1'>
                <i class="fa fa-user fa-2x profileicon"></i>
            </div>
            <div class='col-xs-11 col-md-11 textedOutput'>
                Name : {{PR.data[0].businessNumber}}
            </div>
            <div class='col-xs-12 col-md-6 textedOutput'>
                First : {{PR.data[0].businessNumber}}
            </div>
            <div class='col-xs-12 col-md-6 textedOutput'>
                Last : {{PR.data[0].businessNumber}}
            </div>
            <div class='col-xs-1 col-md-1'>
                <i class="fa fa-phone fa-2x profileicon"></i>
            </div>
            <div class='col-xs-11 col-md-11 textedOutput'>
                Contact Number : {{PR.data[0].businessNumber}}
            </div>
            <div class='col-xs-1 col-md-1'>
                <i class="fa fa-envelope-o fa-2x profileicon"></i>
            </div>
            <div class='col-xs-11 col-md-11 textedOutput'>
                Email : {{PR.data[0].businessEmail}}
            </div>
            <div  class='col-xs-12 col-md-12' id='restEditButton'>
                <button class="btn btn-primary btn-xs" ng-click="PR.profileUpdateModal('lg')">Edit</button>
            </div>

        </div> <!-- close /.row -->
        <!-- edit option for profile !-->
    </div>
</div>
