<div class="container-fluid"> <!-- container -->
	<div> <!-- restaurant info -->
		<div class='find-rest-data'>
		<div class='rest image'></div>
		<div>

		<div class='rest name'>
			{{thisRest.businessName}}
		</div>
		<div class='rest address'>
			<span>{{thisRest.businessAddress.addressOne}}</span>
			<span>{{thisRest.businessAddress.addressTwo}}
			{{thisRest.businessAddress.city}}
			{{thisRest.businessAddress.state}}</span>
			<span>{{thisRest.businessAddress.zip}}</span>
		</div>

		</div>
		{{daySelector(dayOfWeek, thisRest.operatingHours)}}
		<div class='rest hours'>
		<div>
			<div class='hours'>
				<span>{{dayOfWeek}}</span>
				<span>Open: </span>
				<span>Close: </span>
			</div>
		</div>
		<span>{{phoneNumberFormat(thisRest.businessNumber)}}</span>
		</div>
				

		</div>
	</div>
	
	<div> <!-- form container -->
		<h3>Make a Reservation!</h3>
		<br />
		<form>
			<fieldset class="res-time"> <!-- day and time of reservation -->
				<div class="datepicker">
				<label name="Date">Date</label>
				    <div class="row">
				        <div class="col-md-6">
				            <p class="input-group">
				            	<!-- This input will return an ng-model with a date object -->
				              <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="resDayAndTime" ng-change="dataTesting.dateChange(); dataTesting.resChange()" is-open="opened" min-date="minDate" max-date="" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
				              <span class="input-group-btn">
				                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
				              </span>
				            </p>
				        </div>
				    </div>
				    <br />
				    <div class="timepicker">
						<timepicker ng-model="resDayAndTime" ng-change="dataTesting.timeChange(); dataTesting.resChange()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>

						<br />

						<button class="btn btn-default" ng-click="refreshDayAndTime()">Revert to Current Date & Time</button>

					</div>
			</fieldset>
			<hr />
			<fieldset class="res-guest-details"> <!-- number of guests -->
				<div class="res-input">
					<label>Number of Guests</label>
					<input id="" type="number" placeholder="Input Party Size..." min="1" ng-model="partySize" ng-change="dataTesting.resChange()" />
				</div>
			</fieldset>
			<hr />
			<fieldset class="res-preorders"> <!-- drink/appetizer orders -->
				<label name="Preorders">Preorders</label>
				<div class="res-input">
					<div class="res-input preorder-type">
						<label></label>
						<select name="Type of Preorder" ng-options="index.category for index in thisRest.menu" ng-model="menuObj">
						<option value="" disabled selected>-- Choose Preorder Type --</option>
						</select>
					</div>
					<br />
					<div class="res-input preorder-item">
						<label></label>
						<select name="Items" ng-options="item.name for item in menuObj.items" ng-model="itemObj">
							<option value="" disabled selected>-- Choose Menu Item --</option>
						</select>
					</div>
					<br />
					<div class="res-display item-select" ng-show="itemObj">
						<h5>{{ itemObj.photo }}</h5>
						<h5>Name: {{ itemObj.name }}</h5>
						<h5>Description: {{ itemObj.description }}</h5>
						<h5>Price: ${{ itemObj.cost }}</h5>
					</div>
					<br />
					<div class="res-input preorder-quantity">
						<label>Quantity</label>
						<input id="" type="number" placeholder="Input Quantity..." min="1" ng-model="preorderQuantity"/>
					</div>
					<br />
					<button class="btn btn-info" ng-click="addPreorder()">Add Item</button>
					<hr />
					<div class="res-display item-add" ng-repeat="item in preorders">
						<h5> Item: {{ item.name }} , Quantity: {{ item.quantity }} , Sum Cost: ${{ item.sumCost }} </h5>
						<button class="btn btn-danger" id="delete-preorder-item">Delete</button>
					</div>


				</div>
			</fieldset>
			<hr />
			<fieldset class="res-contact-info"> <!-- confirm/enter contact info -->
				<div class="res-input">
					<label>Contact Phone #</label>
					<input type="number" ng-model="thisUser.phoneNumber"/>
				</div>
			</fieldset>
			<br />

		</form>
	</div>
	
	<div> <!-- submit, save, cancel button panel -->
		<button class="btn btn-success" ng-click="submitRes()">Go!</button>
	</div>
</div>