<div class="container-fluid"> <!-- container -->
	<div> <!-- restaurant info -->
		<div class='find-rest-data' ng-repeat='obj in FR.restaurants'>
		<div class='rest image'></div>
		<div>

		<div class='rest name'>
			{{obj.businessName}}
		</div>
		<div class='rest address'>
			<span>{{obj.businessAddress.addressOne}}</span>
			<span>{{obj.businessAddress.addressTwo}}
			{{obj.businessAddress.city}}
			{{obj.businessAddress.state}}</span>
			<span>{{obj.businessAddress.zip}}</span>
		</div>

		</div>
		{{FR.daySelector(FR.dayOfWeek, obj.operatingHours)}}
		<div class='rest hours'>
		<div ng-repeat='obj in FR.today'>
			<div class='hours' ng-repeat='open in obj.hours'>
				<span>{{FR.dayOfWeek}}</span>
				<span>Open:  {{open.businessHoursFrom}}</span>
				<span>Close:  {{open.businessHoursTo}}</span>
			</div>
		</div>
		<span>{{FR.phoneNumberFormat(obj.businessNumber)}}</span>
		</div>
				

		</div>
	</div>
	
	<div> <!-- form container -->
		<form>
			<fieldset class="res-time"> <!-- day and time of reservation -->
				<div class="res-input">
					<label>Date</label>
					<input id="" type="date" ng-model="reservation.date"/>
				</div>
				<div class="res-input">
					<label>Time</label>
					<input id="" type="time" ng-model="reservation.time"/>
				</div>
				<div class="res-input">
					<label>Hour</label>
					<select name="Hour">
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
						<option value="6">6</option>
						<option value="7">7</option>
						<option value="8">8</option>
						<option value="9">9</option>
						<option value="10">10</option>
						<option value="11">11</option>
						<option value="12">12</option>
					</select>
				</div>
				<div class="res-input">
					<label>Minute</label>
					<select name="Minute">
						<option value="1">00</option>
						<option value="2">15</option>
						<option value="3">30</option>
						<option value="4">45</option>
					</select>
				</div>
				<div class="res-input">
					<label>Time of Day</label>
					<select name="Time of Day" id="">
						<option value="1">AM</option>
						<option value="2">PM</option>
					</select>
				</div>
			</fieldset>
			<fieldset class="res-guest-details"> <!-- number of guests -->
				<div class="res-input">
					<label>Number of Guests</label>
					<input />
				</div>
				<div class="res-input">
					<label></label>
					<input />
				</div>
			</fieldset>
			<fieldset class="res-preorders"> <!-- drink/appetizer orders -->
				<div class="res-input">
					<label></label>
					<input />
				</div>
			</fieldset>
		</form>
	</div>
	
	<div> <!-- submit, save, cancel button panel -->
		
	</div>
</div>