html, body { 
	height: 100%;
	width: 100%;
	margin: 0;
}

.full button span {
    background-color: limegreen;
    border-radius: 32px;
    color: black;
}

.partially button span {
	background-color: orange;
	border-radius: 32px;
	color: black;
}

.dropdownSignIn {
	text-decoration: none;
	color:	#777;
	position: relative;
	display: block;
	padding: 15px 15px;
	font-size: 14px;
}

.landingDropdown {
	margin-top: 0;
}

