html, body { 
	height: 100%;
	width: 100%;
	margin: 0;
}

.full button span {
    background-color: limegreen;
    border-radius: 32px;
    color: black;
}

.partially button span {
	background-color: orange;
	border-radius: 32px;
	color: black;
}

.dropdownSignIn {
	text-decoration: none;
	color:	#777;
	position: relative;
	display: block;
	padding: 15px 15px;
	font-size: 14px;
}

.landingDropdown {
	margin-top: 0;
}

.carousel { z-index: -99; } /* keeps this behind all content */
.carousel .item {
    position: fixed; 
    width: 100%; height: 100%;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -ms-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
 
}
.carousel .one {
    background: url(../assets/images/rest-bg-one.jpg) center center no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -moz-background-size: cover;
}
.carousel .two {
    background: url(../assets/images/rest-bg-two.jpg) center center no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -moz-background-size: cover;
}
.carousel .three {
    background: url(../assets/images/rest-bg-three.jpg) center center no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -moz-background-size: cover;
}
.carousel .four {
    background: url(../assets/images/rest-bg-four.jpg) center center no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -moz-background-size: cover;
}
.carousel .five {
    background: url(../assets/images/rest-bg-five.jpg) center center no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -moz-background-size: cover;
}
.carousel .active.left {
    left:0;
    opacity:0;
    z-index:2;
}
