html, body {
	width: 100%;
	height: 100%;
	margin: 0;

}

body {

	background: none;
}

.full {
  background: url(Img/D69CAE25CE.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}




.test {
	background-color: #D88C46;
	box-sizing: content-box;

}

.in-yard {
	width: 200px;
	height: auto;
	background:#222222; 
	float: right;
	margin: 10px 15px 0 0;
}

.card {
  background: #222222;
  position: relative;
  width: 300px;
  height: auto;
  color: #7b8087;
  float: left;
	margin-top: 20px;
}

.new-card {
  background: #222222;
  position: relative;
  width: 600px;
  height: 500px;
  color: #7b8087;
  float: left;
	margin-top: 40px;
}

.grower {
	padding: 8px 20px;
	margin-top: 5px;
	margin-left: 20px;
	display: inline-block;
}

.acres {
	text-align: center;
	font-size: 16px;
	padding: 5px;
	display: inline-block;
}

.field {
	text-align: center;
	font-size: 36px;
	padding: 10px;
}

.geo-shape {
	height: 150px;
	width: 225px;
	background: #7b8087;
	margin: 0 auto;
	
}

.btm-button {
	margin:10px 0px 0px 43px;
}

.trucks {
	margin: 5px ;
	width: 30px;
	height: 25px;
	background: #7b8087;
	display: inline-block;
	text-align: center;
	font-size: 12px;
	color:#222222;
}

.time{
	text-align: center;
	font-size: 16px;
	padding: 10px;
	display: inline-flex;
}

.timeid{
	text-align: center;
	padding: 30px;

}

.spreadercol{
	background-color: #DDDDDD;
	margin: 10px;
	width: auto;

}
 .colhead{
	text-align: center;
	/*background-color: #4a90e2;*/
	font-size: 36px;
	margin: 10px;
}

.colmenu {

	height: 100%;
	width: 80px;
	margin-top: 10px;
}

.plus {
	font-size: 36px;
	margin: 0px 0px 5px 5px;
}

.card-center {
	display: block;
margin-left: auto;
margin-right: auto;
}

.fieldMan {
	padding: 10px 20px;
	margin-left: 188px;
}


 
.logmod {
	margin-top: 20px;
}

/* CSS for profile.html */


.profile {
	font-size: 65px;
}

.profilelist {
	list-style-type: none;
	font-size: 20px; 
	font-size: 2vw;
}

.restProfileForm {
	width: 50%;
	margin: 0 auto;
}

#restEditButton {
	text-align: center;
}

.blueicon {
	font-color: blue;
}

.profileheader {
        color: #36A0FF;
        font-size: 27px;
        padding: 10px;
}

.profileicon {
        font-size: 35px;
        color: #36A0FF;
}
