html, body {
	width: 100%;
	height: 100%;
	margin: 0;

}

body {

	background: none;
}

.full {
  background: url(Img/D69CAE25CE.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}



.body {
	height: 100%;
	width: 100%;
}


.main {
	background-image: url(https://snap-photos.s3.amazonaws.com/img-thumbs/960w/0HCMIT272C.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	background-color: transparent
	height: 1000px;
	padding: 50px;
}

.Reservations {
	width: auto;
	height: auto;
	margin: 0 auto;
	
}

.time{
	text-align: center;
	font-size: 16px;
	padding: 10px;
	display: inline-flex;
}

.timeid{
	text-align: center;
	padding: 30px;

}

.spreadercol{
	background-color: #DDDDDD;
	margin: 10px;
	width: auto;

}
 .colhead{
	text-align: center;
	/*background-color: #4a90e2;*/
	font-size: 36px;
	margin: 10px;
}

.colmenu {

	height: 100%;
	width: 80px;
	margin-top: 10px;
}

.plus {
	font-size: 36px;
	margin: 0px 0px 5px 5px;
}

.card-center {
	display: block;
margin-left: auto;
margin-right: auto;
}

.fieldMan {
	padding: 10px 20px;
	margin-left: 188px;
}


 
.logmod {
	margin-top: 20px;
}

/* CSS for profile.html */


.profile {
	font-size: 65px;
	margin-top: -20px;
}

.profilelist {
	list-style-type: none;
	font-size: 15px; 
	font-size: 2vw;
}

/*.editProfile {
	width: 500px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -25px;
}*/
.restProfileForm {
	width: 50%;
	margin: 0 auto;
}

#restEditButton {
	text-align: center;
}

.blueicon {
	font-color: blue;
}

.profileheader {
        color: #36A0FF;
        font-size: 27px;
        padding: 10px;
}

.profileicon {
        font-size: 35px;
        color: #36A0FF;
}

.inlineDisplay {
	display: inline-block;
}

/* Menu page */

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.resCard {
	height: auto;
	background-color: lemonchiffon;
	margin: 20px;
	opacity: .75;
}

/*User Admin Page */

.userTable {
	background: sandybrown;
	opacity: .75;
}

.formItemSpacer {
	margin: 35px;
	font-size: 20px;
}