<div class="container">
    <div class="panel-group" id="accordion">
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">
						<a href="#collapseone" data-toggle="collapse" data-parent="accordion">Appetizer</a>
                        <button type="submit" class="btn pull-right btn-primary btn-xs" ng-click="MENU.addNewAppetizer('lg')">Add</button>
					</h2>
                </div>
                <div id="collapseone" class="panel-collapse collapse in">
                    <div class="panel-body">
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">
						<a href="#collapseone" data-toggle="collapse" data-parent="accordion">Drinks</a>
                        <button type="submit" class="btn pull-right btn-primary btn-xs" ng-click="MENU.addNewDrink('lg')">Add</button>
					</h2>
                </div>
                <div id="collapseone" class="panel-collapse collapse in">
                    <div class="panel-body">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
