<div class="container">
    <div class="panel-group" id="accordion">
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">
						<a>Appetizer</a>
                        <button type="submit" class="btn pull-right btn-primary btn-xs" ng-click="MENU.addNewAppetizer('lg')">Add</button>
					</h2>
                </div>
                <div class="panel-body" ng-repeat='app in MENU.apps'>
                    Name: {{app.name}} <br />
                    Description: {{app.description}} <br />
                    Cost: {{app.cost}} <br />
                    <hr />
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">
						<a>Drinks</a>
                        <button type="submit" class="btn pull-right btn-primary btn-xs" ng-click="MENU.addNewDrink('lg')">Add</button>
					</h2>
                </div>
                <div class="panel-body" ng-repeat='drink in MENU.drinks'>
                    Name: {{drink.name}} <br />
                    Description: {{drink.description}} <br />
                    Cost: {{drink.cost}} <br />
                    <hr />
                </div>
            </div>
        </div>
    </div>
</div>
