html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background: #574C4F;
}

/*findRestaurant.html*/
.find-rest-title {
	width: 100%;
	height: 5vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #8A1416;
	font-size: 3.5vh;
}

.find-rest-data {
	display: flex;
	flex-direction: row;
	background: #1C1819;
	color: #EFD58D;
	margin: 10px 0;
}

.image {
	height: 15vh;
	width: 15vh;
	background: url("https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQK42m8fqvxKnGDFu-G3zAYiw3p3IKweQRAYFLZOSUtmxMfcghNiA");
	background-position: center;
	background-size: 100%;
	background-repeat: no-repeat;
}

.rest {
	margin: 10px;
	font-size: 2vh;
}

.address {
	display: flex;
	flex-direction: column;
}

.hours {
	display: flex;
	flex-direction: column;
}

/*google mapss styling*/

#map-canvas {
    height: 300px;
    margin: 0px;
    padding: 0px
}
.controls {
	margin-top: 16px;
	border: 1px solid transparent;
	border-radius: 2px 0 0 2px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	height: 32px;
	outline: none;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
	background-color: #fff;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 300;
	margin-left: 12px;
	padding: 0 11px 0 13px;
	text-overflow: ellipsis;
	width: 400px;
}

#pac-input:focus {
	border-color: #4d90fe;
}

.pac-container {
	font-family: Roboto;
}

#type-selector {
	color: #fff;
	background-color: #4d90fe;
	padding: 5px 11px 0px 11px;
}

#type-selector label {
	font-family: Roboto;
	font-size: 13px;
	font-weight: 300;
}

#target {
	width: 345px;
}