html, body {
	width: 100%;
	height: 100%;
	margin: 0;
}


/*index.html*/
.header {
	background: #891517;
	height: 10vh;
	width: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.header-menu {
	background: url('/images/menu_icon.png');
	background-position: center;
	background-size: 100%;
	height: 8vh;
	width: 8vh;
	border: none;
	margin-right: 1vh;
}

/*findRestaurant.html*/

.search-view {
	display: flex;
	flex-dirextion: row;
}

.view-select {
	height: 10vh;
	width: 50%;
	background: #231F1E;
	color: #E1CA7C;
	font-size: 7vh;
	display: flex;
	align-items: center;
	justify-content: center;
	/*border: 1vh solid #E1CA7C;*/
}

iframe {
	width: 100vw;
	height: 80vh;
}

/*.border-menu {
  position: relative;
  padding-left: 1.25em;
}
.border-menu:before {
  content: "";
  position: absolute;
  top: 0.25em;
  left: 0;
  width: 1em;
  height: 0.125em;
  border-top: 0.375em double #000;
  border-bottom: 0.125em solid #000;
}*/